In [1]:
import pandas as pd

In [2]:
years = list(range(2001, 2024))

In [3]:
distinct_players = pd.DataFrame(columns=["ID", "player"])

In [4]:
def unique_players(year: int):
    with open(f'./data/players_stats/leagues/players_stats_{year}.csv', 'r', encoding="utf-8") as file:
        df = pd.read_csv(file)
    
    players = pd.DataFrame(columns=["ID", "player"])
    
    players["ID"] = df["Player-additional"].values.tolist()
    players["player"] = df["Player"].values.tolist()

    return players

In [5]:
for year in years:
    distinct_players = pd.concat([distinct_players, unique_players(year)], ignore_index=True)

In [6]:
print(distinct_players)

              ID               player
0      abdulma02   Mahmoud Abdul-Rauf
1      abdulta01    Tariq Abdul-Wahad
2      abdursh01  Shareef Abdur-Rahim
3      alexaco01       Cory Alexander
4      alexaco02   Courtney Alexander
...          ...                  ...
13922  youngth01       Thaddeus Young
13923  youngtr01           Trae Young
13924  yurtsom01       Omer Yurtseven
13925  zelleco01          Cody Zeller
13926  zubaciv01          Ivica Zubac

[13927 rows x 2 columns]

In [7]:
with open(f'./data/transformed_data/distinct_players.csv', 'r', encoding="utf-8") as file:
    old_players = pd.read_csv(file)

In [8]:
old_players

Empty DataFrame
Columns: [youngsa01, gibsojo01, johnske04, feliccr01, gudurma01, drewbr01, clarkia01, pleisti01, maneka01, whittsh01, plumlma01, hayesja01, carteje01, mcdanja01, youngtr01, denglu01, bolbo01, willijo03, buchash01, roddyda01, jerebjo01, murraro01, ellenhe01, alexaco01, mitchto03, agerma01, sanchpe01, sloando01, grantpa01, babbilu01, evansja02, quinole01, shirlpa01, hughela01, fraziti01, pankoan01, jeffeot01, cheatzy01, randoan01, rillegr01, loftoza01, maconda01, vromaja01, johnsam01, townska01, wisemja01, millemi01, priceaj01, murrake02, garnech01, willico02, strusma01, okpalkz01, whiteok01, collini01, hamilze01, milleol01, pasecan01, colsobo01, johnsty01, knighna01, jonespe01, planizo01, smithis01, lenarvo01, browner01, georgde01, rautian01, fordal03, eddieja01, caulewi01, hearnre01, poseyja01, caldwke01, dampier01, douglsh01, derrima01, powelno01, sambch01, tskitni01, bakerro01, teletmi01, mooremi01, hylanbo01, coleno01, brownst02, murrade01, smithgr02, jonesdw02, hoibefr01, thompja02, haganas01, gibsota01, basdeed01, butleji01, gortama01, jonesja04, willier01, glovedi01, tsakaja01, ...]
Index: []

[0 rows x 2276 columns]

In [9]:
filtered_df = distinct_players.drop_duplicates(subset='ID', keep="first")

In [10]:
filtered_df

              ID               player
0      abdulma02   Mahmoud Abdul-Rauf
1      abdulta01    Tariq Abdul-Wahad
2      abdursh01  Shareef Abdur-Rahim
3      alexaco01       Cory Alexander
4      alexaco02   Courtney Alexander
...          ...                  ...
13903  willija06       Jalen Williams
13904  willija07      Jaylin Williams
13905  willije02   Jeenathan Williams
13907  willima07        Mark Williams
13910  willivi01   Vince Williams Jr.

[2276 rows x 2 columns]